<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <div class="col-12">
                <h5 class="mb-0">
                    <img src="../../../assets/administraciones.jpeg" alt="" class="img-thumbnail" width="300px;">
                    <a id="titulo"> Administracion de Propiedades </a>
                </h5>
            </div>
            <p id="descripcion">
                Nuestros Servicios a clientes propietarios: La administración de propiedades en alquiler es un servicio que prestamos a todos nuestros clientes interesados que no cuentan con el tiempo o no desean tener relación con el inquilino, poder cobrar en término,
                analizamos las referencias y somos muy exigentes en la GARANTIA. Además con el mantenimiento del inmueble, el control de pago de servicios, impuestos, la gestión de trámites varios, control en la desocupación del inmueble, fotos del inmueble,
                etc.
            </p>
            <button class="btn btn-primary btnLeerMas" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                Leer Más
              </button>
        </h2>
        <div class="collapse" id="collapseExample1">
            <div class="accordion-body">
                <p>Deje en nuestras manos la administración de sus propiedades, para presentar de la mejor manera sus intereses y que usted llegué a obtener los mejores beneficios en sus futuras operaciones.</p>

                <p id="textoNegrita">11 Claves para la gestión de su negocio</p>

                <p>1-Despersonalizar la Atención: Atención en representación del propietario de todos los asuntos inherentes a la relación locativa.
                </p>

                <p>2-Análisis de Riesgo: Selección de potenciales locatarios y garantes del inmueble disponible, (informes, FET, Veraz, Etc.) y referencias comerciales y bancarias, a los fines de conocer y verificar la solvencia económica y moral de los
                    mismos.
                </p>

                <p>3-Seguimiento del Análisis de Riesgo: Verificación semestral de la vigencia de los datos proporcionados por los inquilinos y sus garantes. Elaboración de Informe a el/los Propietario/s.</p>

                <p>4-Inspección a la Propiedad: Inspección semestral de la propiedad para verificar el estado de conservación de la misma. Elaboración de un informe a el/los Propietarios.</p>

                <p>5-Contratos: Redacción del contrato de locación, de acuerdo a las circunstancias del mercado y la legislación en vigencia, que será refrendado por las partes ante escribano público, certificándose las firmas de los mismos.
                </p>

                <p>6-Pagos: Realizar las correspondientes liquidaciones, dentro de las 48hs. de percibidas las rentas por el liquido resultante.
                </p>

                <p>7-Seguimiento: Realización de tareas administrativas, para el cobro de alquileres, que no se perciban en tiempo y forma, (requisitorias telefónicas y postales, e intimaciones mediante carta documento, de acuerdo a los plazos previstos
                    en las leyes en vigencia). Asesoramiento para negociar con el locatario cada vez que sea necesario.</p>

                <p>8-Gestión judicial y/o extrajudicial: mediante los abogados de la empresa, tendientes al cumplimiento y/o resolución del respectivo contrato de locación.</p>

                <p>9-Permisos de Refacción: Supervisión de los arreglos y/o refacciones que fuesen necesarias para cuya realización el propietario (o la empresa) hubiere contratado el personal correspondiente.</p>

                <p>10-Cordialidad: Mantener la buena relación entre el propietario e inquilino mediante el consejo profesional.
                </p>

                <p>11-Mantener siempre vigente los contratos de Locación: mediante un sistema de agenda no dejamos vencer los contratos con el fin de no perder las garantías.</p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <div class="col-12">
                <h5 class="mb-0">
                    <img src="../../../assets/tasacion.jpeg" alt="" class="img-thumbnail" width="300px;">
                    <a id="titulo"> Tasaciones </a>
                </h5>
            </div>
            <p id="descripcion">
                Contamos con personal capacitado especialmente para tasar el valor real de los inmuebles y establecer los criterios adecuados para la cotización del mismo, respetando el patrimonio del cliente que nos confía su propiedad
            </p>
            <button class="btn btn-primary btnLeerMas" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                Leer Más
              </button>
        </h2>
        <div class="collapse" id="collapseExample2">
            <div class="accordion-body">
                <p>Para tasar su propiedad contamos con un grupo de profesionales de gran experiencia para poder brindarle un servicio absolutamente confiable, basándonos en tres pautas: Ténica, Mercado y Apreciación.

                    <p id="textoNegrita">Que es La Tasación?</p>

                    <p>Tasar es poner precio a un inmueble vendible. La tasación de una propiedad tiene un único objeto: "Medir el valor de la misma, en función de una unidad monetaria, dentro de un mercado dado y en un determinado momento". Este valor que
                        será único en ese momento esta en función del fin para el cual se efectúa. Son varias y diversas las formas de tasar una propiedad dependiendo de sus valores extrínsecos e intrínsecos, por ejemplo el tipo de zona donde esta el
                        inmueble, si es urbana, industrial, para que puede ser destinada su edificación, tomando los costo por metros cuadrado según el tipo de construcción, Hect. Son tantos los factores a tomar en cuenta al momento de realizar la tasación,
                        que se necesita de un equipo especializado, para poder determinar con precisión el valor de la propiedad, dentro de los parámetros económicos actuales y tomando en cuenta la situación del país.</p>

                    <p id="textoNegrita">Tipos de Tasaciones:</p>

                    <p>1.-Técnica: Resulta del valor del m² mas el valor del Terreno descontando su amortización o apreciación en caso de ser un inmueble cultural o Histórico.</p>
                    <p>2.-De Mercado: Es el valor que un comprador pagaría por esa propiedad, esto se mide mediante una conversación con nuestra base de datos de clientes.</p>
                    <p>3.-De Apreciación: Se realiza mediante una comparación realizada con las ultimas seis ventas realizadas en la zona.
                    </p>

                    <p>Detalle de Tasaciones</p>

                    <p>Ubicación: se refiere a la ubicación de la propiedad, donde existen una infinidad de factores que tienen influencia sobre el valor de la misma. Por ejemplo: si esta cerca de una avenida, en un barrio, en un Country.
                    </p>

                    <p>Zona: en una zona residencial, industrial, de campo, dentro de la administración que municipio (capital o interior de la provincia). Y muchos otros factores que valorizan la ubicación de la propiedad.</p>

                    <p>Altimétrca: Zona alta, no inundable de rápida evacuación y corrido de agua.</p>

                    <p>Datos Registrable: Registro inmobiliarios, matricula catastral, etc.</p>

                    <p>Medidas: según planos.</p>

                    <p>Simetría: de la propiedad para poder tener los mejores rendimientos de lo edilicio de la propiedad o terreno para construcciones o desarrollo.</p>

                    <p>Servicios: Luz monofásica o trifásica, terreno, pavimento, cloacas, gas, teléfono, etc.</p>

                    <p>Construcción: Materiales e instalaciones.</p>

                    <p>Análisis de Superficies Construidas: basados en la documentación provista por el cliente.</p>

                    <p>Depreciación: es la perdida operada en la vida o el valor de un elemento activo a causa del uso, abuso, desgaste o acción de los elementos en el transcurso del tiempo.</p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <div class="col-12">
                <h5 class="mb-0">
                    <img src="../../../assets/asesoramiento.jpeg" alt="" class="img-thumbnail" width="300px;">
                    <a id="titulo"> Asesoramiento Inmobiliario </a>
                </h5>
            </div>
            <p id="descripcion">
                Nuestra empresa le brinda asesoramiento para la compra-venta de cualquier bien inmueble, vivienda, local, terreno, así como para el contrato de compra-venta, con la finalidad de asegurar una operación importante en cuanto a la inversión y al futuro de una persona.
                La opción de compra o alquiler de casa, vivienda, local o terreno, requiere de unos conocimientos que es necesario disponer, ya que el derecho inmobiliario, comprende todo aquello que pueda influir en el inmueble, como cargas, servidumbres,
                tipo de suelo constructivo, para lo que le prestamos asesoramiento para la compra de la vivienda, local o terreno y su decisión va a dependerá frecuentemente de factores, como destino del mismo, capacidad inversora del comprador, estancia
                en el inmueble y destino de la inversión.
            </p>
            <button class="btn btn-primary btnLeerMas" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                Leer Más
              </button>
        </h2>
        <div class="collapse" id="collapseExample3">
            <div class="accordion-body">
                <p>Jorge Mariño Negocios Inmobiliarios le brinda asesoramiento para la compra-venta de cualquier bien inmueble, vivienda, local, terreno, así como para el contrato de compra-venta, o alquiler, con la finalidad de asegurar una operación importante
                    en cuanto a la inversión y al futuro de una persona.</p>

                <p>La opción de compra o alquiler de casa, vivienda, local o terreno, requiere de unos conocimientos que es necesario disponer, ya que comprende todo aquello que pueda influir en el inmueble, como cargas, servidumbres, tipo de suelo constructivo,
                    para lo que le prestamos asesoramiento para la compra de la vivienda, local o terreno y su decisión va a dependerá frecuentemente de factores, como destino del mismo, capacidad inversora del comprador, estancia en el inmueble y destino
                    de la inversión.</p>

                <p>Igualmente, para el alquiler de la vivienda, local o terreno, además de la capacidad financiera, influye la temporalidad de la ocupación o el destino del inmueble, así no es lo mismo, alquilar una vivienda para residencia habitual que
                    por traslado de trabajo, o bien, el alquiler del local dependerá de la actividad que se pretenda desarrollar y que decir del terreno, si se trata de un terreno urbano para urbanizar, o de un terreno rústico, sometido a la ley de arrendamientos
                    rústicos, con la finalidad de explotar laboralmente una tierra.</p>
            </div>
        </div>
    </div>
</div>