@media (max-width: 425px){
    .accordion {
        margin-top: 2%;
        z-index: -10;
    }
    
    #flush-headingOne {
        background: rgb(180, 180, 180);
        border-radius: 10px;
    }
    
    .img-thumbnail {
        height: 250px;
        width: 100%;
    }
    
    #titulo {
        font-size: 25px;
        margin-left: 30px;
        color: rgb(120, 120, 120);
    }

    #textoNegrita{
        font-weight: bold;
    }
    
    #descripcion {
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .btn {
        width: auto;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 426px) and (max-width: 768px){
    .accordion {
        margin-top: 2%;
        z-index: -10;
    }
    
    #flush-headingOne {
        background: rgb(180, 180, 180);
        border-radius: 10px;
    }
    
    .img-thumbnail {
        height: 250px;
        width: 100%;
    }
    
    #titulo {
        font-size: 25px;
        margin-left: 30px;
        color: rgb(120, 120, 120);
    }

    #textoNegrita{
        font-weight: bold;
    }
    
    #descripcion {
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .btn {
        width: auto;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

@media(min-width: 769px) and (max-width: 1024px){
    .accordion {
        margin-top: 2%;
        z-index: -10;
    }
    
    #flush-headingOne {
        background: rgb(180, 180, 180);
        border-radius: 10px;
    }
    
    .img-thumbnail {
        margin-top: 10px;
        margin-left: 10px;
        height: 250px;
    }
    
    #titulo {
        font-size: 30px;
        margin-left: 20px;
        color: rgb(120, 120, 120);
    }
    
    #descripcion {
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .btn {
        width: 10%;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px){
    .accordion {
        margin-top: 2%;
        z-index: -10;
    }
    
    #flush-headingOne {
        background: rgb(180, 180, 180);
        border-radius: 10px;
    }
    
    .img-thumbnail {
        margin-top: 10px;
        margin-left: 10px;
        height: 250px;
    }
    
    #titulo {
        font-size: 30px;
        margin-left: 20px;
        color: rgb(120, 120, 120);
    }
    
    #descripcion {
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .btn {
        width: 10%;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

@media(min-width: 1441px) and (max-width: 2560px){
    .accordion {
        margin-top: 2%;
        z-index: -10;
    }
    
    #flush-headingOne {
        background: rgb(180, 180, 180);
        border-radius: 10px;
    }
    
    .img-thumbnail {
        margin-top: 10px;
        margin-left: 10px;
        width: 650;
        height: 300px;
    }
    
    #titulo {
        font-size: 45px;
        margin-left: 20px;
        color: rgb(120, 120, 120);
    }
    
    #descripcion {
        font-size: 35px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .btn {
        width: 10%;
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 25px;
    }

    .accordion-body{
        font-size: 35px;
    }
}