<!-- DETALLES -->
<!--slide de fotos-->
<div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="http://localhost:3000/{{imagenUno}}" class="imgSlider">
            </div>
            <div class="carousel-item">
                <img src="http://localhost:3000/{{imagenDos}}" class="imgSlider">
            </div>
            <div class="carousel-item">
                <img src="http://localhost:3000/{{imagenTres}}" class="imgSlider">
            </div>
            <div class="carousel-item">
                <img src="http://localhost:3000/{{imagenCuatro}}" class="imgSlider">
            </div>
            <div class="carousel-item">
                <img src="http://localhost:3000/{{imagenCinco}}" class="imgSlider">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>

<br>

<!-- descripcion y detalles -->
<div class="container contenedorDetalles col-xxl-12">
    <div class="row">
        <h1 class="domicilio">{{ domicilio }}</h1>
    </div>
    <div class="row ">
        <div class="tipoPrecio">
            <div id="tipo">
                {{ tipoOperacion }}
            </div>
            <div id="precio">
                <div>
                    {{ tipoMoneda }} {{ precio }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <h2 class="titulo">Descripcion</h2>
            <hr>
            <p id="datosYdetalles">{{ descripcion }}</p>

            <!-- </div>
    <div class="col-3"> -->
            <br>
            <!-- DETALLES -->
            <h2 class="titulo">Detalles</h2>
            <hr>
            <div class="row">
                <div class="col-6" id="dormitorios">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> Dormitorios: {{ dormitorios }}
                    </p>
                </div>
                <div class="col-6" id="banos">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> Baños: {{ banos }}
                    </p>
                </div>
            <!-- </div>

            <div class="row"> -->
                <div class="col-6" id="antiguedad">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> Antigüedad: {{ antiguedad }}
                    </p>
                </div>
                <div class="col-6" id="mtsCubiertos">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> Cubierto: {{ metrosPropios }} m2
                    </p>
                </div>
            <!-- </div>

            <div class="row"> -->
                <div class="col-6" id="mtsTotales">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> Terreno: {{ metrosTotales }} m2
                    </p>
                </div>
                <div class="col-6" id="estado">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> Condicion: {{ estado }}
                    </p>
                </div>
            </div>

            <br>
            <h2 class="titulo">Servicios</h2>
            <hr>
            <div class="row">
                <div class="col-4" id="agua">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> {{ agua }}
                    </p>
                </div>
                <div class="col-4" id="luz">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> {{ luz }}
                    </p>
                </div>
                <div class="col-4" id="gas">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> {{ gas }}
                    </p>
                </div>
                <div class="col-4" id="seguridad">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> {{ seguridad }}
                    </p>
                </div>
                <div class="col-4" id="porteria">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> {{ porteria }}
                    </p>
                </div>
                <div class="col-4" id="cloacas">
                    <p id="datosYdetalles">
                        <span class="fas fa-caret-right">
                        </span> {{ cloacas }}
                    </p>
                </div>
            </div>
        </div>


        <!-- CONTACTO ESTA PROPIEDAD -->
        <div class="col-lg-4 col-xs-12">
            <h2 class="titulo">Contacto</h2>
            <hr>
            <form>
                <div class="form-group">
                    <label for="nombre" id="labelFormulario">Nombre: </label>
                    <input type="text" id="nombre" name="nombre" class="form-control" required="required"
                        style="width: 90%;">
                </div>
                <div class="form-group">
                    <label for="telefono" id="labelFormulario">Telefono: </label>
                    <input type="text" id="telefono" name="telefono" class="form-control" required="required"
                        style="width: 90%;">
                </div>
                <div class="form-group">
                    <label for="celular" id="labelFormulario">Celular: </label>
                    <input type="text" id="celular" name="celular" class="form-control" required="required"
                        style="width: 90%;">
                </div>
                <div class="form-group">
                    <label for="email" id="labelFormulario">Email: </label>
                    <input type="text" id="email" name="email" class="form-control" required="required"
                        style="width: 90%;">
                </div>
                <div class="form-group">
                    <label for="mensaje" id="labelFormulario">Mensaje:</label>
                    <textarea name="mensaje" id="mensaje" maxlength="150" class="form-control"
                        placeholder="Me interesa esta propiedad" required="required"></textarea>
                </div>
            </form>
            <button type="submit" id="submit" name="submit" class="btn btn-primary float-right" action="enviarmail.php">Enviar Mensaje</button>
        </div>

        <!-- mapa --> 
        <!-- <iframe
            src="{{ maps }}" id="mapa" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe> -->
        <div id="mapa">
            <!-- <iframe> -->
                <!-- {{ mapa }} -->
            <!-- </iframe> -->
            <iframe [src]="mapa | safe" width="100%" height="450" id="frameMapa" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- <iframe src="{{ mapa }}" width="100%" height="450" id="frameMapa" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                
            <!-- <iframe [src]="url" style="width:100%; height:550px;" frameborder="0"></iframe> -->
        </div>

        <!-- NOTA IMPORTANTE -->
        <div class="contenedorNota">
            <hr class="lineaInf">
            <p class="nota">
                Nota importante: toda la información y medidas provistas son aproximadas y deberán 
                ratificarse con la documentación correspondiente y no compromete contractualmente a 
                nuestra empresa. Los gastos informados corresponden a la última información recibida 
                y deberán confirmarse. Las fotos no son vinculantes ni contractuales.
            </p>
        </div>
    </div>
    <br>
</div>