<br>

<hr>
<!-- ////////// FOOTER ////////// -->

<div class="footer">
    <div class="row rowFooter">
        <!-- /////////// LOGO Y REDES SOCIALES ///////////  -->
        <div class="col-lg-3 col-md-6 col-xs-12" id="logoFrase">
            <!-- //////// LOGO ///////// -->
            <div class="row logo col-lg-12 col-md-6">
                <img src="../../../assets/CopiaMarca.png" id="imgLogo" alt="">
            </div>
            <div class="col-xxl-12 col-lg-12 fraseContainer">
                <h6 class="frase">TU INVERSION EN LAS MEJORES MANOS</h6>
            </div>
        </div>

        <!-- ////////////// INFO CONTACTO /////////////  -->
        <div class="col-xxl-6 col-lg-6 col-md-6 col-xs-11 info">
            <div class="row">
                <h2 class="titulo">Encontranos en...</h2>
            </div>
            <br>
            <div class="row contIconosRedes">
                <a href="https://wa.me/543815482268"><span class="fab fa-whatsapp fa-2x iconos" id="whatsapp"></span></a>
                <a href=""><span class="fab fa-facebook-f fa-2x iconos" id="facebook"></span></a>
                <a href=""><span class="fab fa-instagram fa-2x iconos" id="instagram"></span></a>
            </div>
            <div class="row" id="datosContacto">
                <h5 id="textInfo">jorgemarinoinmobiliaria&#64;gmail.com</h5>
                <h5 id="textInfo"><span class="fa-solid fa-phone-volume fa-shake"></span>&nbsp; 3815482268 - 3815666633</h5>
                <!-- <h5 id="textInfo">www.marinoinmobiliaria.com.ar</h5> -->
            </div>
        </div>

        <!-- //////////// LOGO CCIT /////////////  -->
        <div class="col-xxl-3 col-lg-3 col-md-12 col-xs-12 ccit">
            <img src="../../../assets/ccit-web-logo.png" class="imgCcit" alt="">
            <!-- <p class="matricula">M.P.: 103</p> -->
        </div>
    </div>
</div>