<br>
<div class="row contenedorempresa">
    <!-- /////////// IMAGEN PORTADA /////////// -->
    <div class="empresa col-12">
        <img src="../../../assets/Portada Agente Inmobiliario.png" id="imgEmpresa" alt="">
    </div>

    <!-- //////////// NOSOTROS //////////// -->
    <div class="nosotros">
        <p class="textEmpresa">
            Jorge Mariño Negocios Inmobiliarios inicia su actividad en el año 1989, con la finalidad de brindar un
            servicio inmobiliario diferente, con compromiso, seriedad y profesionalismo, aportando conocimiento
            verdadero en el rubro y alerta siempre a las necesidades
            del cliente. Nuestra inmobiliaria es un referente destacado en el mercado, respaldado por años de
            experiencia y un enfoque sólido en la seriedad y el profesionalismo. Nos enorgullece ofrecer a nuestros
            clientes un servicio de alta calidad,
            brindando soluciones inmobiliarias confiables y adaptadas a sus necesidades individuales. Nuestro compromiso
            con la excelencia nos ha valido el reconocimiento y la confianza de nuestra amplia base de clientes, quienes
            valoran nuestra ética
            de trabajo impecable y nuestra dedicación inquebrantable para lograr resultados exitosos. Con nosotros,
            puede estar seguro de que su experiencia inmobiliaria estará respaldada por un equipo experto que se
            esfuerza por superar sus expectativas
            en cada paso del camino.
        </p>
    </div>

    <!-- ///////// MISION Y VISION ///////// -->
    <div class="misionyvision">
        <div class="col-lg-6 col-md-12 col-xs-12 mision">
            <img class="imgMision" src="../../../assets/mision y vision.png" alt="">
        </div>

        <div class="col-lg-6 col-md-12 col-xs-12 vision">
            <img class="imgVision" src="../../../assets/mision y vision (1).png" alt="">
        </div>
    </div>

    <!-- //////////// NUESTRO EQUIPO //////////// -->
    <!-- /////// PRESENTACION -->
    <div class="presentacion">
        <h1>
            CONOCE AL EQUIPO
            <br>
            <p class="prof">NUESTROS PROFESIONALES</p>
        </h1>
    </div>
    <!-- <h1 class="presentacion">
    </h1> -->

    <!-- /////// TARJETAS DEL EQUIPO  -->
    <div class="row equipo container">
        <div class="card cardEquipo">
            <img src="../../../assets/fotoJavier1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">JAVIER MARIÑO</h5>
                <p class="card-text">CEO</p>
                <p class="card-descrip">Nuestro CEO es un líder excepcional que se destaca por su
                    impecable profesionalismo en todos los aspectos. Con una vasta experiencia y
                    conocimientos sólidos en el sector inmobiliario, guía a nuestra compañía con
                    integridad y dedicación. Su enfoque profesional impulsa a todo el equipo a
                    alcanzar la excelencia en cada tarea, estableciendo un estándar de calidad y
                    eficiencia que nos distingue en el mercado. Su visión estratégica y liderazgo
                    inspirador son pilares fundamentales para el éxito continuo de nuestra empresa.</p>
                <a href="https://wa.me/543815482268"><span class="fab fa-whatsapp fa-2x iconos"
                        id="whatsapp"></span></a>
                <a href="mailto:jorgemarinoinmobiliaria@gmail.com"><span class="far fa-envelope fa-2x iconos"
                        id="mail"></span></a>
            </div>
        </div>

        <div class="card cardEquipo">
            <img src="../../../assets/fotoLaura.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LAURA MARIÑO</h5>
                <p class="card-text">Agente Comercial</p>
                <p class="card-descrip">Con una determinación incansable, no se detiene ante
                    los desafíos y se esfuerza por alcanzar el éxito en cada venta. Su audacia
                    le permite enfrentar nuevas oportunidades con valentía, siempre buscando
                    soluciones innovadoras para satisfacer las necesidades de nuestros clientes.
                    Con esta combinación de cualidades, nuestro vendedor se destaca como un profesional
                    comprometido en lograr los mejores resultados para quienes confían en nuestros
                    servicios inmobiliarios</p>
                <a href="https://wa.me/543815666633"><span class="fab fa-whatsapp fa-2x iconos"
                        id="whatsapp"></span></a>
                <a href="mailto:jorgemarinoinmobiliaria@gmail.com"><span class="far fa-envelope fa-2x iconos"
                        id="mail"></span></a>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="card cardEquipo">
                <img src="../../../assets/IMG_0222.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">JORGE MARIÑO</h5>
                    <p class="card-text">Fundador</p>
                    <p class="card-descrip">Nuestro fundador es un visionario apasionado con una profunda
                        experiencia en el mercado inmobiliario. Su visión y determinación le llevaron a
                        establecer nuestra empresa en 1989, y su compromiso con la excelencia ha sido la
                        base de nuestro éxito continuo. Su conocimiento experto y su ética de trabajo
                        ejemplar han establecido un legado de confiabilidad y profesionalismo que sigue
                        siendo el corazón de nuestra empresa hoy en día.</p>
                </div>
            </div>
        </div>
    </div>
</div>