@media (max-width: 360px){
    #menu{
        margin-top: 80px;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        z-index: 10;
    }
    
    header {
        display: flex;
        align-items: center;
        margin-top: -20px;
    }
    
    .logo {
        width: 130px;
        margin-left: 5%;
    }
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    
    .abrir-menu {
        color: #1c1c1c;
        margin-left: 30%;
    }
    
    .cerrar-menu {
        color: #ececec;
    }
    
    .nav {
        width: 25%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color:rgba(0, 0, 0, .5);
        padding: 0px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
        
    .nav-list {
        flex-direction: column;
        box-sizing: content-box;
        font-size: 9px;
    }
    
    .nav-list li a {
        color: #ecececec;
        text-decoration: none;
    }
    
    .nav-list li a:hover {
        background-color: red;
        font-weight: bold;
    }
    
    .nav-list li{
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
    }

    #lineaMenu{
        color: white;
    }
}

@media (min-width: 361px) and (max-width: 540px){
    #menu{
        margin-top: 80px;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        z-index: 10;
    }
    
    header {
        display: flex;
        align-items: center;
        margin-top: -20px;
    }
    
    .logo {
        width: 150px;
        margin-left: 5%;
    }
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    
    .abrir-menu {
        color: #1c1c1c;
        margin-left: 40%;
    }
    
    .cerrar-menu {
        color: #ececec;
    }
    
    .nav {
        width: 30%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color:rgba(0, 0, 0, .5);
        padding: 0px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
        
    .nav-list {
        flex-direction: column;
        box-sizing: content-box;
    }
    
    .nav-list li a {
        color: #ecececec;
        text-decoration: none;
    }
    
    .nav-list li a:hover {
        background-color: red;
        font-weight: bold;
    }
    
    .nav-list li{
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
    }

    #lineaMenu{
        color: white;
    }
}

/* @media(min-width: 426px) and (max-width: 540px){
    #menu{
        margin-top: 80px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        z-index: 10;
    }
    
    header {
        display: flex;
        align-items: center;
        margin-top: -20px;
    }
    
    .logo {
        width: 200px;
        margin-left: 5%;
    }
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    
    .abrir-menu {
        color: #1c1c1c;
        margin-left: 40%;
    }
    
    .cerrar-menu {
        color: #ececec;
    }
    
    .nav {
        width: 30%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color:rgba(0, 0, 0, .5);
        padding: 0px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
        
    .nav-list {
        flex-direction: column;
        box-sizing: content-box;
    }
    
    .nav-list li a {
        color: #ecececec;
        text-decoration: none;
    }
    
    .nav-list li a:hover {
        background-color: red;
        font-weight: bold;
    }
    
    .nav-list li{
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
    }

    #lineaMenu{
        color: white;
    }
} */

@media(min-width: 541px) and (max-width: 768px){
    #menu{
        margin-top: 80px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        z-index: 10;
    }
    
    header {
        display: flex;
        align-items: center;
        margin-top: -20px;
    }
    
    .logo {
        width: 250px;
        margin-left: 5%;
    }
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    
    .abrir-menu {
        color: #1c1c1c;
        margin-left: 50%;
    }
    
    .cerrar-menu {
        color: #ececec;
    }
    
    .nav {
        width: 30%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color:rgba(0, 0, 0, .5);
        padding: 0px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
        
    .nav-list {
        flex-direction: column;
        box-sizing: content-box;
    }
    
    .nav-list li a {
        color: #ecececec;
        text-decoration: none;
    }
    
    .nav-list li a:hover {
        background-color: red;
        font-weight: bold;
    }
    
    .nav-list li{
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
    }

    #lineaMenu{
        color: white;
    }
}

@media(min-width: 769px) and (max-width: 1024px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        z-index: 10;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }
    
    .logo {
        max-width: 15rem;
        margin-left: 10%;
    }
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    
    .abrir-menu {
        color: #1c1c1c;
        margin-right: 10%;
    }
    
    .cerrar-menu {
        color: #ececec;
    }
    
    .nav {
        width: 30%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color:rgba(0, 0, 0, .5);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
        
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    
    .nav-list li a {
        color: #ecececec;
        text-decoration: none;
    }
    
    .nav-list li a:hover {
        background-color: red;
        font-weight: bold;
    }
    
    .nav-list li{
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
    }

    #lineaMenu{
        color: white;
    }
}

@media(min-width: 1025px) and (max-width: 1440px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        z-index: 10;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }

    .logo {
        max-width: 15rem;
        margin-left: 10%;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
        margin-right: 10%;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        width: 30%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color:rgba(0, 0, 0, .5);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
        
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
        text-decoration: none;
    }

    .nav-list li a:hover {
        background-color: red;
        font-weight: bold;
    }

    .nav-list li{
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
    }

    #lineaMenu{
        color: white;
    }
}

@media(min-width: 1441px) and (max-width: 2560px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        /* z-index: 10; */
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }
    
    .logo {
        max-width: 35rem;
        margin-left: 10%;
        z-index: 10;
    }
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 4rem;
        background-color: transparent;
        cursor: pointer;
        z-index: 10;
    }
    
    .abrir-menu {
        width: 30px;
        height: auto;
        color: #1c1c1c;
        margin-right: 15%;
        z-index: 10;
    }
    
    .cerrar-menu {
        color: #ececec;
        z-index: 10;
    }
    
    .nav {
        width: 50%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color:rgba(0, 0, 0, .5);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 10;
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
        
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    
    .nav-list li a {
        color: #ecececec;
        text-decoration: none;
    }

    #linkMenu{
        font-size: 40px;
        line-height: 2.0;
        z-index: 10;
    }
    
    .nav-list li a:hover {
        background-color: red;
        font-weight: bold;
        z-index: 10;
    }
    
    .nav-list li{
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
        z-index: 10;
    }

    #lineaMenu{
        color: white;
    }
}