<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark " id="accordionSidebar">

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- PROPIEDADES -->
        <div class="sidebar-heading">
            Propiedades
        </div>

        <!-- AGREGAR PROPIEDAD -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-plus"></i>
                <span [routerLink]="['agregar-prop']" routerLinkActive="router-link-active">Agregar Propiedad</span>
            </a>
        </li>

        <!-- LISTAR PROPIEDAD -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-list"></i>
                <span [routerLink]="['listar-prop']" routerLinkActive="router-link-active">Listar Propiedades</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Slider
        </div>

        <!-- AGREGAR SLIDER -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-plus"></i>
                <span [routerLink]="['agregar-slider']" routerLinkActive="router-link-active">Agregar Slider</span>
            </a>
        </li>

        <!-- LISTAR SLIDERS -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-list"></i>
                <span [routerLink]="['listar-sliders']" routerLinkActive="router-link-active">Listar Slider</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Clientes
        </div>

        <!-- AGREGAR CLIENTE -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-plus"></i>
                <span [routerLink]="['agregar-cliente']" routerLinkActive="router-link-active">Agregar Cliente</span>
            </a>
        </li>

        <!-- LISTAR CLIENTE -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-list"></i>
                <span [routerLink]="['listar-cliente']" routerLinkActive="router-link-active">Listar Clientes</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Administraciones
        </div>

        <!-- AGREGAR ADMINISTRACION -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-plus"></i>
                <span [routerLink]="['agregar-administracion']" routerLinkActive="router-link-active">Agregar Administracion</span>
            </a>
        </li>

        <!-- LISTAR ADMINISTRACIONES -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-list"></i>
                <span [routerLink]="['listar-administracion']" routerLinkActive="router-link-active">Listar Administraciones</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <div class="sidebar-heading">
            Carteleria
        </div>

        <!-- AGREGAR CARTEL -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-plus"></i>
                <span [routerLink]="['agregar-cartel']" routerLinkActive="router-link-active">Agregar Cartel</span>
            </a>
        </li>

        <!-- LISTAR CARTELERIA -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-list"></i>
                <span [routerLink]="['listar-cartel']" routerLinkActive="router-link-active">Listar Carteleria</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <div class="sidebar-heading">
            Usuarios
        </div>

        <!-- AGREGAR CARTEL -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-plus"></i>
                <span [routerLink]="['agregar-user']" routerLinkActive="router-link-active">Agregar Usuario</span>
            </a>
        </li>

        <!-- LISTAR CARTELERIA -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-list"></i>
                <span [routerLink]="['listar-user']" routerLinkActive="router-link-active">Listar Usuarios</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <div class="btnSalir justify-content-center">
            <button class="btn btn-danger" (click)="logout()">Salir</button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light  topbar mb-4 static-top shadow barraDashboard">


                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                </div>

                <!-- Sidebar Toggle (Topbar) -->
                <!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
              </button> -->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto" id="infoAgente">

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->

                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->

                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Javier Mariño</span>
                            <img class="img-profile rounded-circle" src="../../../assets/IMG_0222.jpeg">
                        </a>
                        <!-- Dropdown - User Information -->

                    </li>

                </ul>

            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>

        </div>

    </div>

</div>