@media (max-width: 320px){
    #wrapper{
        padding-top: 20%;
    }

    .h3,
    h3 {
        font-size: 20px;
    }

    #content-wrapper{
        width: auto;
    }

    #infoAgente{
        margin-top: -40px;
        margin-right: 75px;
    }
}

@media (max-width: 425px){}

@media (min-width: 426px) and (max-width: 768px){}

@media(min-width: 769px) and (max-width: 1024px){}

@media(min-width: 1025px) and (max-width: 1440px){}

@media(min-width: 1441px) and (max-width: 2560px){}

@media(min-width: 326px) and (max-width: 425px){
    #wrapper{
        padding-top: 20%;
    }

    .h3,
    h3 {
        font-size: 20px;
    }

    #content-wrapper{
        width: auto;
    }

    #infoAgente{
        margin-top: -15px;
    }  
}

#content-wrapper {
    width: 100%;
}

.container-fluid {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}



@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
    
}




@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:992px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:1200px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {#wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem
}

.navbar .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}



@media (max-width:575.98px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (max-width:767.98px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (max-width:991.98px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:992px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (max-width:1199.98px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:1200px) {
    #wrapper{
        padding-top: 20%;
    }
}

.navbar-expand .navbar-nav {
    flex-direction: row
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .35rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }

    .badge {
        transition: none
    }
}

.badge-danger {
    color: #fff;
    background-color: #e74a3b
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:992px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:1200px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:992px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:1200px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (prefers-reduced-motion:reduce) {
    #wrapper{
        padding-top: 20%;
    }
}

.rounded-circle {
    border-radius: 50%!important
}

.d-none {
    display: none!important
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:992px) {
    #wrapper{
        padding-top: 20%;
    }
}

.d-lg-inline {
    display: inline!important
}

@media (min-width:1200px) {
    #wrapper{
        padding-top: 20%;
    }
}

.flex-column {
    flex-direction: column!important
}

.flex-column-reverse {
    flex-direction: column-reverse!important
}

.justify-content-center {
    justify-content: center!important
}

.justify-content-between {
    justify-content: space-between!important
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
    .flex-sm-column {
        flex-direction: column!important
    }
    .flex-sm-column-reverse {
        flex-direction: column-reverse!important
    }
    .justify-content-sm-center {
        justify-content: center!important
    }
    .justify-content-sm-between {
        justify-content: space-between!important
    }
    .align-items-sm-center {
        align-items: center!important
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }

    .flex-md-column {
        flex-direction: column!important
    }
    
    .flex-md-column-reverse {
        flex-direction: column-reverse!important
    }

    .justify-content-md-center {
        justify-content: center!important
    }
    .justify-content-md-between {
        justify-content: space-between!important
    }
    .align-items-md-center {
        align-items: center!important
    }
}

@media (min-width:992px) {
    #wrapper{
        padding-top: 20%;
    }

    .flex-lg-column {
        flex-direction: column!important
    }
    .flex-lg-column-reverse {
        flex-direction: column-reverse!important
    }
    
    .justify-content-lg-center {
        justify-content: center!important
    }
    .justify-content-lg-between {
        justify-content: space-between!important
    }
    .align-items-lg-center {
        align-items: center!important
    }
}

@media (min-width:1200px) {
    #wrapper{
        padding-top: 20%;
    }

    .flex-xl-column {
        flex-direction: column!important
    }
    .flex-xl-column-reverse {
        flex-direction: column-reverse!important
    }
    
    .justify-content-xl-center {
        justify-content: center!important
    }
    .justify-content-xl-between {
        justify-content: space-between!important
    }
    .align-items-xl-center {
        align-items: center!important
    }
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:992px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:1200px) {
    #wrapper{
        padding-top: 20%;
    }
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important
}

.mb-0{
    margin-bottom: 0!important
}

.mx-1 {
    margin-right: .25rem!important
}

.mx-1 {
    margin-left: .25rem!important
}

.mr-2{
    margin-right: .5rem!important
}

.mb-4{
    margin-bottom: 1.5rem!important
}

.ml-auto {
    margin-left: auto!important
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
    .mb-sm-0{
        margin-bottom: 0!important
    }
    .mx-sm-1 {
        margin-right: .25rem!important
    }
    .mx-sm-1 {
        margin-left: .25rem!important
    }
    .mr-sm-2 {
        margin-right: .5rem!important
    }
    .mb-sm-4 {
        margin-bottom: 1.5rem!important
    }
    .ml-sm-auto{
        margin-left: auto!important
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
    .mb-md-0{
        margin-bottom: 0!important
    }
    .mx-md-1 {
        margin-right: .25rem!important
    }
    .mx-md-1 {
        margin-left: .25rem!important
    }
    .mr-md-2{
        margin-right: .5rem!important
    }
    .mb-md-4 {
        margin-bottom: 1.5rem!important
    }
    .ml-md-auto{
        margin-left: auto!important
    }
}

@media (min-width:992px) {
    #wrapper{
        padding-top: 20%;
    }

    .mb-lg-0{
        margin-bottom: 0!important
    }
    .mx-lg-1 {
        margin-right: .25rem!important
    }
    .mx-lg-1 {
        margin-left: .25rem!important
    }
    .mr-lg-2 {
        margin-right: .5rem!important
    }
    .mb-lg-4 {
        margin-bottom: 1.5rem!important
    }
    .ml-lg-auto {
        margin-left: auto!important
    }
}

@media (min-width:1200px) {
    #wrapper{
        padding-top: 20%;
    }

    .mb-xl-0 {
        margin-bottom: 0!important
    }
    .mx-xl-1 {
        margin-right: .25rem!important
    }
    .mx-xl-1 {
        margin-left: .25rem!important
    }
    .mr-xl-2 {
        margin-right: .5rem!important
    }
    .mb-xl-4 {
        margin-bottom: 1.5rem!important
    }
    .ml-xl-auto {
        margin-left: auto!important
    }
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:992px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:1200px) {
    #wrapper{
        padding-top: 20%;
    }
}

.dropdown .dropdown-menu .dropdown-header,
.sidebar .sidebar-heading,
.text-uppercase {
    text-transform: uppercase!important
}

#wrapper {
    margin-top: -20%;
    z-index: -10;
    display: flex;
    background-color: #f8f9fc;
}

.container-fluid{
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.bg-gradient-primary {
    background-color: #3E4350;
    background-image: linear-gradient(180deg, #3E4350 10%, #3E4350 100%);
    background-size: cover
}

.text-gray-600 {
    color: #858796!important
}

.text-gray-800 {
    color: #5a5c69!important
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none
}

.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
}

.sidebar .nav-item.dropdown.show .dropdown-toggle::after,
.topbar .nav-item.dropdown.show .dropdown-toggle::after {
    content: '\f107'
}

.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
    position: relative
}

.sidebar .nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: .25rem;
    margin-top: -.25rem
}

.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 2rem
}

.topbar {
    height: 4.375rem
}

.topbar #sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem
}

.topbar #sidebarToggleTop:hover {
    background-color: #eaecf4
}

.topbar #sidebarToggleTop:active {
    background-color: #dddfeb
}

.topbar .navbar-search {
    width: 25rem
}

.topbar .navbar-search input {
    font-size: .85rem;
    height: auto
}

.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem
}

.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 .75rem
}

.topbar .nav-item .nav-link:focus {
    outline: 0
}

.topbar .nav-item:focus {
    outline: 0
}

.topbar .dropdown {
    position: static
}

.topbar .dropdown .dropdown-menu {
    width: calc(100% - 1.5rem);
    right: .75rem
}

.topbar .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden
}

.topbar .dropdown-list .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff
}

.topbar .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
    background-color: #eaecf4;
    height: .75rem;
    width: .75rem;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: .125rem solid #fff
}

.topbar .dropdown-list .dropdown-item .text-truncate {
    max-width: 10rem
}

.topbar .dropdown-list .dropdown-item:active {
    background-color: #eaecf4;
    color: #3a3b45
}

@media (min-width:576px) {
    #wrapper{
        padding-top: 20%;
    }

    .topbar .dropdown {
        position: relative
    }
    .topbar .dropdown .dropdown-menu {
        width: auto;
        right: 0
    }
    .topbar .dropdown-list {
        width: 20rem!important
    }
    .topbar .dropdown-list .dropdown-item .text-truncate {
        max-width: 13.375rem
    }
}

.topbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, .8)
}

.topbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
}

.topbar.navbar-dark .navbar-nav .nav-item .nav-link:active {
    color: #fff;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #b7b9cc
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
    color: #858796
}

.sidebar {
    width: 6.5rem;
    min-height: 100vh
}

.sidebar .nav-item {
    position: relative
}

.sidebar .nav-item:last-child {
    margin-bottom: 1rem
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: .75rem 1rem;
    width: 6.5rem
}

.sidebar .nav-item .nav-link span {
    font-size: .65rem;
    display: block
}

.sidebar .nav-item.active .nav-link {
    font-weight: 700
}

.sidebar .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px
}

.sidebar .nav-item .collapse .collapse-inner {
    border-radius: .35rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)
}

.sidebar .nav-item .collapsing {
    display: none;
    transition: none
}

.sidebar .nav-item .collapse .collapse-inner,
.sidebar .nav-item .collapsing .collapse-inner {
    padding: .5rem 0;
    min-width: 10rem;
    font-size: .85rem;
    margin: 0 0 1rem 0
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header,
.sidebar .nav-item .collapsing .collapse-inner .collapse-header {
    margin: 0;
    white-space: nowrap;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .65rem;
    color: #b7b9cc
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: .35rem;
    white-space: nowrap
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #eaecf4
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
    background-color: #dddfeb
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #4e73df;
    font-weight: 700
}

.sidebar #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer
}

.sidebar #sidebarToggle::after {
    font-weight: 900;
    content: '\f104';
    font-family: 'Font Awesome 5 Free';
    margin-right: .1rem
}

.sidebar #sidebarToggle:hover {
    text-decoration: none
}

.sidebar #sidebarToggle:focus {
    outline: 0
}

.sidebar.toggled {
    width: 0!important;
    overflow: hidden
}

.sidebar.toggled #sidebarToggle::after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    margin-left: .25rem
}

.sidebar.toggled .sidebar-card {
    display: none
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1
}

.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem
}

.sidebar .sidebar-brand .sidebar-brand-text {
    display: none
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem
}

.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: .65rem
}

.sidebar .sidebar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .875rem;
    border-radius: .35rem;
    color: rgba(255, 255, 255, .8);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .1)
}

.sidebar .sidebar-card .sidebar-card-illustration {
    height: 3rem;
    display: block
}

.sidebar .sidebar-card .sidebar-card-title {
    font-weight: 700
}

.sidebar .sidebar-card p {
    font-size: .75rem;
    color: rgba(255, 255, 255, .5)
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }

    .sidebar {
        width: 14rem!important
    }
    .sidebar .nav-item .collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        -webkit-animation: none;
        animation: none
    }
    .sidebar .nav-item .collapse .collapse-inner {
        border-radius: 0;
        box-shadow: none
    }
    .sidebar .nav-item .collapsing {
        display: block;
        transition: height .15s ease
    }
    .sidebar .nav-item .collapse,
    .sidebar .nav-item .collapsing {
        margin: 0 1rem
    }
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 14rem
    }
    .sidebar .nav-item .nav-link i {
        font-size: .85rem;
        margin-right: .25rem
    }
    .sidebar .nav-item .nav-link span {
        font-size: .85rem;
        display: inline
    }
    .sidebar .nav-item .nav-link[data-toggle=collapse]::after {
        width: 1rem;
        text-align: center;
        float: right;
        vertical-align: 0;
        border: 0;
        font-weight: 900;
        content: '\f107';
        font-family: 'Font Awesome 5 Free'
    }
    .sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
        content: '\f105'
    }
    .sidebar .sidebar-brand .sidebar-brand-icon i {
        font-size: 2rem
    }
    .sidebar .sidebar-brand .sidebar-brand-text {
        display: inline
    }
    .sidebar .sidebar-heading {
        text-align: left
    }
    .sidebar.toggled {
        overflow: visible;
        width: 6.5rem!important
    }
    .sidebar.toggled .nav-item .collapse {
        position: absolute;
        left: calc(6.5rem + 1.5rem / 2);
        z-index: 1;
        top: 2px;
        -webkit-animation-name: growIn;
        animation-name: growIn;
        -webkit-animation-duration: .2s;
        animation-duration: .2s;
        -webkit-animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
        animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1)
    }
    .sidebar.toggled .nav-item .collapse .collapse-inner {
        box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
        border-radius: .35rem
    }
    .sidebar.toggled .nav-item .collapsing {
        display: none;
        transition: none
    }
    .sidebar.toggled .nav-item .collapse,
    .sidebar.toggled .nav-item .collapsing {
        margin: 0
    }
    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem
    }
    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: .75rem 1rem;
        width: 6.5rem
    }
    .sidebar.toggled .nav-item .nav-link span {
        font-size: .65rem;
        display: block
    }
    .sidebar.toggled .nav-item .nav-link i {
        margin-right: 0
    }
    .sidebar.toggled .nav-item .nav-link[data-toggle=collapse]::after {
        display: none
    }
    .sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
        font-size: 2rem
    }
    .sidebar.toggled .sidebar-brand .sidebar-brand-text {
        display: none
    }
    .sidebar.toggled .sidebar-heading {
        text-align: center
    }
}

.sidebar-light .sidebar-brand {
    color: #6e707e
}

.sidebar-light hr.sidebar-divider {
    border-top: 1px solid #eaecf4
}

.sidebar-light .sidebar-heading {
    color: #b7b9cc
}

.sidebar-light .nav-item .nav-link {
    color: #858796
}

.sidebar-light .nav-item .nav-link i {
    color: #d1d3e2
}

.sidebar-light .nav-item .nav-link:active,
.sidebar-light .nav-item .nav-link:focus,
.sidebar-light .nav-item .nav-link:hover {
    color: #6e707e
}

.sidebar-light .nav-item .nav-link:active i,
.sidebar-light .nav-item .nav-link:focus i,
.sidebar-light .nav-item .nav-link:hover i {
    color: #6e707e
}

.sidebar-light .nav-item .nav-link[data-toggle=collapse]::after {
    color: #b7b9cc
}

.sidebar-light .nav-item.active .nav-link {
    color: #6e707e
}

.sidebar-light .nav-item.active .nav-link i {
    color: #6e707e
}

.sidebar-light #sidebarToggle {
    background-color: #eaecf4
}

.sidebar-light #sidebarToggle::after {
    color: #b7b9cc
}

.sidebar-light #sidebarToggle:hover {
    background-color: #dddfeb
}

.sidebar-dark .sidebar-brand {
    color: #fff
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, .15)
}

.sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, .4)
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, .8)
}

.sidebar-dark .nav-item .nav-link i {
    color: rgba(255, 255, 255, .3)
}

.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
    color: #fff
}

.sidebar-dark .nav-item .nav-link:active i,
.sidebar-dark .nav-item .nav-link:focus i,
.sidebar-dark .nav-item .nav-link:hover i {
    color: #fff
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
    color: rgba(255, 255, 255, .5)
}

.sidebar-dark .nav-item.active .nav-link {
    color: #fff
}

.sidebar-dark .nav-item.active .nav-link i {
    color: #fff
}

.sidebar-dark #sidebarToggle {
    background-color: rgba(255, 255, 255, .2)
}

.sidebar-dark #sidebarToggle::after {
    color: rgba(255, 255, 255, .5)
}

.sidebar-dark #sidebarToggle:hover {
    background-color: rgba(255, 255, 255, .25)
}

.sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255, 255, 255, .5)
}



@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
}

@media (min-width:768px) {
    #wrapper{
        padding-top: 20%;
    }
}

.btnSalir {
    text-align: center;
    margin-bottom: 20px;
}

.btn-danger {
    width: 50%;
}